<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="br.com.scielo" version="1.0.3">
    <name>SciELO</name>
    <description>
        Scientific Eletronic Library Online
    </description>
    <author email="marcellus.batista@infobase.com.br" href="http://www.infobase.com.br">
        Infobase Vix Team
    </author>
    <content src="index.html"/>
    <access origin="*"/>
    <preference name="Orientation" value="portrait"/>
    <preference name="SplashScreen" value="screen"/>
    <preference name="errorUrl" value="file:///android_asset/www/onError.html"/>
    
    <platform name="ios">
        <splash height="1136" src="res/screen/ios/Default-568h@2x.png" width="640"/>
        <splash height="1334" src="res/screen/ios/Default-667h@2x.png" width="750"/>
        <splash height="2208" src="res/screen/ios/Default-Portrait-736h@3x.png" width="1242"/>
        <splash height="1004" src="res/screen/ios/Default-Portrait-wsb.png" width="768"/>
        <splash height="1024" src="res/screen/ios/Default-Portrait.png" width="768"/>
        <splash height="2048" src="res/screen/ios/Default-Portrait@2x.png" width="1536"/>
        <splash height="2008" src="res/screen/ios/Default-Portrait@2x-wsb.png" width="1536"/>
        <splash height="480" src="res/screen/ios/Default.png" width="320"/>
        <splash height="960" src="res/screen/ios/Default@2x.png" width="640"/>
    </platform>
    
    <platform name="android">
        <splash density="port-ldpi" src="res/screen/android/320x426.png"/>
        <splash density="port-mdpi" src="res/screen/android/320x470.png"/>
        <splash density="port-hdpi" src="res/screen/android/480x640.png"/>
        <splash density="port-xhdpi" src="res/screen/android/720x960.png"/>
     </platform>
</widget>
