<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="br.com.scielo" version="1.0.0">
    <name>SciELO</name>
    <description>
        Scientific Eletronic Library Online
    </description>
    <author email="marcellus.batista@infobase.com.br" href="http://www.infobase.com.br">
        Infobase Vix Team
    </author>
    <content src="index.html"/>
    <access origin="*"/>
    <preference name="Orientation" value="portrait"/>
</widget>
