/* <editor-fold desc="GLOBAL SETTINGS"> */

*{  
    margin:0;
    padding:0;
    list-style:none;

    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-tap-highlight-color: transparent; /* For some Androids */ 	
    -webkit-user-select: auto!important;   
}
body {
    width:100%;
    padding: 0;
    color: #000;
    background-color: #EDECED;
    overflow: hidden;
    font-family: TerminalDosis;
}

@font-face {
    font-family: Industrial736;
    src: url(../fonts/industrial-736-bt-roman-1361507983.ttf);
}

@font-face {
    font-family: TerminalDosis;
    src: url(../fonts/terminal-dosis.regular.ttf);
}

@font-face {
    font-family: TerminalDosis-Bold;
    src: url(../fonts/terminal-dosis.bold.ttf);
}

/* </editor-fold> */

/* <editor-fold desc="MODAL"> */

.modal{
    outline: 0 !important;
}
.modal-dialog{
    height: 100%;
}
.modal-body{
    text-align: center;
    background-color: #3D445F;
}
.modal-content{
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform:translateY(-50%);
}
.modal-header{
    text-align: center;
    display: block !important;
    background-color: #2B2937;
    border: 0;
}
.modal-footer{
    padding: 10px;
    border: none;
    margin-top: 5px;
    text-align: center;
    background-color: #3D445F;
    margin: 0px;
}

.bootstrap-dialog-close-button{
	display: none !important;
}

/* </editor-fold> */

/* <editor-fold desc="BOX LOAD PAGES"> */

#page {
    position:fixed;
    width:100%;
    height:100%;
    -webkit-transition: translate3d(0,0,0);
    transform: translate3d(0, 0, 0);
    overflow: hidden;
}
.wrapper {
        position: relative;
        z-index: 1;
	left: 0;
	width: 100%;
        height: 100%;
	overflow: hidden;
}
.scroller {
    position:relative; 
    min-height: 100%;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}
#content {
    width:100%;
    position: absolute;
    left:0px;
    height:100%;
    overflow: hidden;
}
#block-content{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    float: left;
    height: 100%;
    background-color: #333333;
    -moz-opacity: .60;
    filter: alpha(opacity=60);
    opacity: .60;
    z-index: 2;
}
.page-content{
    height: 100%;
}
#content, #page {
    -webkit-overflow-scrolling:touch;
}

/* </editor-fold> */

/* <editor-fold desc="APP BAR"> */

#app-bar{
    position: absolute;
    min-height: 40px;
    width: 100%;
    border: none;
    background-color: #111;
    color: #ffffff;
    z-index: 1001;
}
#app-bar-menu{
    padding: 0 10px 0 10px;
    width: 35px;
}
#app-bar-title{
    height: 40px;
    font-size: 25px;
    font-family: Industrial736;
    letter-spacing: 1.5px;
    vertical-align: bottom;
    padding-bottom: 4px;
}
#app-bar-title span {
    margin-top: 10px;
}
#app-bar-icon{
    width: 37px;
}
#app-bar-icon img {
    height: 30px;
    padding-right: 7px;
}

#app-bar-search{
    width: 30px;
}
#app-bar-search img{
    width: 22px;
}

#app-bar-search-input{
    padding: 0 10px;
}
#app-bar-search-input input{
    width: 100%;
    background-color: #111;
    color: #fff;
    border: none;
    border-bottom: 1px #ccc solid;
}

#app-bar-context-menu{
    text-align: center;
    width: 60px;
}
#app-bar-context-menu img{
    height: 20px;
}


/* </editor-fold> */

/* <editor-fold desc="CONTEXT MENU APP STYLES"> */

.pop-menu {
    position: absolute;
    top:0;
    right: 10px;
    background-color: #171717;
    z-index: 1001;
}
.pop-menu-content{
    position:relative;
    width: 100%;
    color: #fff;
    padding: 5px 15px;
}

.context-menu-row{
    padding: 20px;
    border-bottom: 1px #333 solid;
    height: 45px;
}
.context-menu-text div{
    padding-right: 10px;
}

.context-menu-icon {
    width: 40px;
}
.context-menu-icon img{
    width: 40px;
    padding: 0 10px;
}

/* </editor-fold> */

/* <editor-fold desc="MENU APP STYLES"> */

menu {
    position: absolute;
    top:0;
    left:0;
    min-width: 160px;
    width:70%;
    max-width: 500px;
    height: 100%;
    background-color: #fff;
    z-index: 1001;
}
#menu-content{
    position:relative;
    height: 100%;
    width: 100%;
    border-color: transparent;
    font-size: 16px;
    padding: 5px 10px;
}

.menu-item-header{
    color: #ffffff;
}
.menu-row{
    height: 40px;
    vertical-align: bottom;
    border-bottom: 1px #ccc solid;
}
.menu-checkbox {
    width: 35px;
}
.menu-checkbox img{
    width: 35px;
    padding: 10px 5px;
}
.menu-item{
    padding-left: 5px;
    font-size: 20px;
}
.menu-text div{
    padding-bottom: 10px;
}


/* </editor-fold> */

/* <editor-fold desc="COMMON STYLES"> */

table{
    width: 100%;
}

.item-row {
    height: 60px;
    text-decoration: none!important;
}

.item-input{
    padding: 10px 16px !important;
    margin-bottom: 10px;
    background-color: #000 !important;
    opacity: 0.5 !important;
    border-radius: 4px;
    border: none;  
    width: 100%;
    height: 40px !important;
    color: #FFFFFF;
    font-size: 14px;
    background-color: #071d2e;
}
.item-btn{
    height: 50px;
    line-height: 50px;
    padding: 0;
    border: 0px;
    text-align: center;
    font-size: 16px;
    width: 100%;
}
.item-btn img{
    margin-top: auto;
    margin-bottom: auto;
}
select.item-input{
    padding: 0 55px 0 10px !important;
    background: #fff url('../img/icon_select.png') no-repeat 100% center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input.item-input:focus{
    background-color: #fff!important;
    color: #000!important;
}

input[type=number]::-webkit-outer-spin-button { margin: 0; }
.vertical-line{
  width: 1px;
  height: 100%;
}
.invalid-input{
    background-color: lightcoral !important;
    border: #fff 1px solid;
    color: #f0f0f0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:hover,
input:focus {
    box-shadow: none;
    outline: none;
}

/* </editor-fold> */

/* <editor-fold desc="LOGIN STYLES"> */

.login-icon{
    padding: 60px 0;
    width: 30%;
    max-width: 120px;
    margin: auto auto;
}
.login-btn-container{
    text-align: center;
    width: 70%;
    max-width: 320px;
    margin: auto auto;
}
.login-btn{
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
}
.login-btn tr{
    height: 45px;
}
.login-btn-icon{
    width: 45px;
    border-right: 2px rgba(0,0,0,0.2) solid;
}
.login-btn-icon img{
    width: 25px;
}
.login-btn.facebook{
    background-color: #3C558D;
}
.login-btn.google{
    background-color: #D9321D;
}

/* </editor-fold> */

/* <editor-fold desc="HOME STYLES"> */

.category{
    margin-bottom: 10px;
}
.category-content{
    position: relative;
    padding-top: 10px;
    overflow-y: hidden;
}
.category-bar{
    width: 100%;
    background-color: #C2C2C2;
    border-bottom: 2px #000 solid;
    height: 45px;
    font-family: TerminalDosis-Bold;
}

.category-bar table tr{
    height: 45px;
}

.category-bar-title{
    padding-left: 8px;
}

.category-menu-btn{
    text-align: center;
    width: 60px;
}

.category-menu-btn img{
    height: 20px;
}
.cat-scroller {
    width: 1600px;
}

.cat-scroller ul{
    position: relative;
    height: 204px;
    width: 100%;
    margin-bottom: 0;
}
.article{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 200px;
    background-color: #fff;
    border-right: 10px #EDECED solid;
}
.article-principal{
    width: 100%;
    height: 160px;
    border: 2px #999 solid;
    border-bottom: none;
    position: relative;
    overflow-y: hidden;
}
.article-principal img{
    width: 100%;
}
.article-name{
/*    background: linear-gradient(rgba(200,200,200,0.3), rgba(0,0,0,0.7));*/
    background: -webkit-linear-gradient(rgba(150,150,150,0.3), rgba(0,0,0,0.7));
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 5px 10px 5px;
    color: #fff;
    font-size: 14px;
}
.article-legend{
    width: 100%;
    height: 40px;
    border: 2px #999 solid;
    border-top: none;
    font-size: 12px;
    padding: 5px 5px;
}

/* </editor-fold> */

/* <editor-fold desc="INTRODUCTION STYLES"> */

#intro-container{
    width: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    background: #fff;
    box-shadow: 0px 0px 10px #222222;
    z-index: 1001;
}
.intro-content{
    padding: 40px 0 20px 0;
}
#close-btn{
    position: absolute;
    top: -20px;
    right: -15px;
    z-index: 1001;
}
#close-btn img{
    width: 50px;
}
#scielo-video{
    width: 70%;
    max-width: 350px;
    margin: auto auto;
}
.login-icon.intro{
    padding-top: 20px;
    padding-bottom: 10px;
    width: 20%;
}
.intro-welcome{
    text-align: center;
    font-size: 24px;
}
.carousel-content-item{
    padding: 10px;
    font-size: 16px;
}
#info-carousel .carousel-indicators li{
    background-color: #C3C3C3 !important;
    border: none;
}
#info-carousel .carousel-indicators li.active{
    background-color: #393A3C !important;
    border: none;
}

/* </editor-fold> */

/* <editor-fold desc="PREFERENCES STYLES"> */

.pref-bg{
    background-color: #1E1E1E;
}
.pref-title{
    color: #bbb;
    border-bottom: 2px #bbb solid;
    padding: 10px 5px;
}
.pref-content{
    padding: 10px 5px;
    font-size: 18px;
    color: #fff;
    border-bottom: 1px #bbb solid;
    margin-bottom: 20px;
}
.radio-img{
    width: 30px;
    vertical-align: middle;
    
}
.radio-img img{
    width: 22px;
}
.radio-label{
    
}
.radio-option{
    height: 35px;
}

.general-title{
    margin-top: 5px;
}

.general-subtitle{
    color: #bbb;
    font-size: 12px;
    margin: 5px 0;
}

#rate-container{
    width: 150px;
}
.rate-star{
    width: 30px;
    text-align: center;
}
.rate-star img{
    width: 25px;
}

/* </editor-fold> */