/* <editor-fold desc="GLOBAL SETTINGS"> */

body.font-large {
    font-size: 20px;
}

/* </editor-fold> */

/* <editor-fold desc="MODAL"> */

.font-large .bootstrap-dialog-title{
    font-size: 20px!important;
}
.font-large .bootstrap-dialog-message{
    font-size: 18px!important;
}
.font-large .btn-ok{
    font-size: 18px;
}

/* </editor-fold> */

/* <editor-fold desc="APP BAR"> */

.font-large #app-bar-search-input input{
    font-size: 22px;
}

/* </editor-fold> */

/* <editor-fold desc="LOGIN STYLES"> */

.font-large .login-btn{
    font-size: 22px;
}

/* </editor-fold> */

/* <editor-fold desc="HOME STYLES"> */

.font-large #no-feeds .botoes-app div:first-child{
    font-size: 22px;
}
.font-large #no-feeds .botoes-app div:last-child img{
    width: 40px;
}

/* </editor-fold> */

/* <editor-fold desc="ARTICLES/FEEDS COMMONS STYLES"> */

.font-large .magazine-scroller ul{
    height: 244px;
}
.font-large .no-article{
    width: 180px;
    height: 240px;
}
.font-large .no-article .add-img{
    width: 70px;
    margin-left: 55px;
    margin-top: 85px;
}
.font-large .article{
    width: 180px;
    height: 240px;
}
.font-large .article .loading-img{
    width: 60px;
    margin-left: 60px;
    margin-top: 75px;
}
.font-large .article-principal{
    height: 190px;
}
.font-large .article-name{
    font-size: 18px;
    max-height: 130px;
}
.font-large .article-legend{
    height: 50px;
    font-size: 16px;
}
.font-large .article-magazine{
    max-height: 20px;
}
.font-large #articles-search-box{
    font-size: 22px;
}
.font-large #articles-search-text{
    font-size: 22px;
}
.font-large #string-result-of{
    width: 130px;
}

/* </editor-fold> */

/* <editor-fold desc="INTRODUCTION STYLES"> */

.font-large .intro-welcome{
    font-size: 28px;
}
.font-large .carousel-content-item{
    font-size: 20px;
}

/* </editor-fold> */

/* <editor-fold desc="ABSTRACT STYLES"> */

.font-large .abstract-header{
    height: 240px;
}
.font-large .abstract-desc-container{
    font-size: 18px;
}
.font-large .abstract-desc-title{
    font-size: 22px;
}
.font-large .abstract-img img{
    width: 28px;
}
.font-large .abstract-web-btn{
    font-size: 18px;
}

/* </editor-fold> */

/* <editor-fold desc="PREFERENCES STYLES"> */

.font-large .pref-content{
    font-size: 22px;
}
.font-large .radio-img{
    width: 40px;
}
.font-large .radio-img img{
    width: 30px;
}
.font-large .radio-option{
    height: 45px;
}
.font-large .general-subtitle{
    font-size: 16px;
}

/* </editor-fold> */

/* <editor-fold desc="POLITICS STYLES"> */

.font-large #string-politics-content{
    font-size: 18px;
}

/* </editor-fold> */

/* <editor-fold desc="FEED CONFIG STYLES"> */

.font-large .feed-config-magazine-row{
    height: 50px;
}

.font-large .magazine-checkbox, .font-large #select-all {
    width: 45px;
}
.font-large .magazine-checkbox img, .font-large #select-all img{
    width: 45px;
}

.font-large .btn-save-feed{
    font-size: 24px;
}

.font-large .input-feed{
    font-size: 24px;
}

/* </editor-fold> */

/* <editor-fold desc="SETTINGS STYLES"> */

.font-large .settings-desc{
    font-size: 22px;
}

.font-large .settings-desc-text{
    font-size: 18px;
}

.font-large .settings-title{
    font-size: 22px;
}
.font-large .settings-letter{
    font-size: 22px;
}
.font-large .settings-row{
    font-size: 22px;
}

/* </editor-fold> */