/* <editor-fold desc="GLOBAL SETTINGS"> */

body.font-medium {
    font-size: 18px;
}

/* </editor-fold> */

/* <editor-fold desc="MODAL"> */

.font-medium .bootstrap-dialog-title{
    font-size: 18px!important;
}
.font-medium .bootstrap-dialog-message{
    font-size: 16px!important;
}
.font-medium .btn-ok{
    font-size: 16px;
}

/* </editor-fold> */

/* <editor-fold desc="APP BAR"> */

.font-medium #app-bar-search-input input{
    font-size: 20px;
}

/* </editor-fold> */

/* <editor-fold desc="LOGIN STYLES"> */

.font-medium .login-btn{
    font-size: 20px;
}

/* </editor-fold> */

/* <editor-fold desc="HOME STYLES"> */

.font-medium #no-feeds .botoes-app div:first-child{
    font-size: 20px;
}
.font-medium #no-feeds .botoes-app div:last-child img{
    width: 35px;
}

/* </editor-fold> */

/* <editor-fold desc="ARTICLES/FEEDS COMMONS STYLES"> */

.font-medium .magazine-scroller ul{
    height: 224px;
}
.font-medium .no-article{
    width: 165px;
    height: 220px;
}
.font-medium .no-article .add-img{
    width: 65px;
    margin-left: 50px;
    margin-top: 78px;
}
.font-medium .article{
    width: 165px;
    height: 220px;
}
.font-medium .article .loading-img{
    width: 60px;
    margin-left: 52px;
    margin-top: 65px;
}
.font-medium .article-principal{
    height: 175px;
}
.font-medium .article-name{
    font-size: 16px;
    max-height: 120px;
}
.font-medium .article-legend{
    height: 45px;
    font-size: 14px;
}
.font-medium .article-magazine{
    max-height: 18px;
}
.font-medium #articles-search-box{
    font-size: 20px;
}
.font-medium #articles-search-text{
    font-size: 20px;
}
.font-medium #string-result-of{
    width: 120px;
}

/* </editor-fold> */

/* <editor-fold desc="INTRODUCTION STYLES"> */

.font-medium .intro-welcome{
    font-size: 26px;
}
.font-medium .carousel-content-item{
    font-size: 18px;
}

/* </editor-fold> */

/* <editor-fold desc="ABSTRACT STYLES"> */

.font-medium .abstract-header{
    height: 220px;
}
.font-medium .abstract-desc-container{
    font-size: 16px;
}
.font-medium .abstract-desc-title{
    font-size: 20px;
}
.font-medium .abstract-img img{
    width: 25px;
}
.font-medium .abstract-web-btn{
    font-size: 16px;
}

/* </editor-fold> */

/* <editor-fold desc="PREFERENCES STYLES"> */

.font-medium .pref-content{
    font-size: 20px;
}
.font-medium .radio-img{
    width: 35px;
}
.font-medium .radio-img img{
    width: 25px;
}
.font-medium .radio-option{
    height: 40px;
}
.font-medium .general-subtitle{
    font-size: 14px;
}

/* </editor-fold> */

/* <editor-fold desc="POLITICS STYLES"> */

.font-medium #string-politics-content{
    font-size: 18px;
}

/* </editor-fold> */

/* <editor-fold desc="FEED CONFIG STYLES"> */

.font-medium .feed-config-magazine-row{
    height: 45px;
}

.font-medium .magazine-checkbox, .font-medium #select-all {
    width: 40px;
}
.font-medium .magazine-checkbox img, .font-medium #select-all img{
    width: 40px;
}
.font-medium .btn-save-feed{
    font-size: 22px;
}
.font-medium .input-feed{
    font-size: 22px;
}

/* </editor-fold> */

/* <editor-fold desc="SETTINGS STYLES"> */

.font-medium .settings-desc{
    font-size: 20px;
}

.font-medium .settings-desc-text{
    font-size: 16px;
}

.font-medium .settings-title{
    font-size: 20px;
}
.font-medium .settings-letter{
    font-size: 20px;
}
.font-medium .settings-row{
    font-size: 20px;
}

/* </editor-fold> */