
/* MENU TRANSITIONS */
menu {
	-webkit-transition: translate3d(0,0,0);
	transform: translate3d(0, 0, 0);
    -webkit-transition:all 0.4s ease;
    -webkit-transform: translateX(-100%);
}
.transitionMenuAppStart {
    -webkit-transform: translateX(0px);
    -webkit-transform: translate3d(0px,0,0);
    
}
#header-app,#content {
    -webkit-transition:all 0.4s ease;
}
.transitionContentAppStart{
    -webkit-transform: translateX(50%);
}

.transitionApp2 {
	-webkit-transform: translateX(100%);
}

/* CONTEXT MENU TRANSITIONS */
.pop-menu {
    -webkit-transition: translate3d(0,0,0);
    transform: translate3d(0, 0, 0);
    -webkit-transition:all 0.4s ease;
    -webkit-transform: translateY(-100%);
}

.pop-menu.context-menu-show {
    -webkit-transform: translateY(0);
    
}